source .venv/bin/activate
export PYTHONPATH=app:../passregi-edge-shared

export MQTT_HOST=localhost
export LOGGER_CONFIG_PATH=../passregi-edge/conf/logging.json
export AWS_REGION=ap-northeast-1
export IOT_CREDENTIALS_END_POINT=https://c1b2ikzp1wv79a.credentials.iot.ap-northeast-1.amazonaws.com
export ROLE_ALIAS=device
export SECRET_NAME=passregi
export CONFIG_PATH=../passregi-edge/conf/properties.json
export CERTIFICATE_DIR=../passregi-edge/.certificate/